<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Links</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>

<body>
    <a id="link1" class="link" href="https://www.qu.edu.sa/" target="_blank">Go to QU website (open a new tab)</a>

    <a id="link2" class="link" href="https://www.qu.edu.sa/">Go to QU website (open in the same page/tab)</a>

    <a id="link3" class="link" href="https://www.qu.edu.sa/">Go to QU website (open in the same page/tab)</a>

</body>
</html>

